# PostgreSQL database configuration
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

# Backend server configuration
DATABASE_URL="host=db port=5432 user=your_postgres_user password=your_postgres_password dbname=your_postgres_db sslmode=disable"
SECRET_KEY=your_secret_key

# Frontend configuration
REACT_URL=http://localhost:8081
